{% extends "base.html" %}

{% block page_title %}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    {% if object is not None %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tasks:list' %}">Contacts</a></li>
            <li class="breadcrumb-item active">{{ object.title }}</li>
        </ol>
    {% else %}
        Task Not Found!
    {% endif %}
{% endblock %}
{% block content %}
    {% if object is not None %}
        <div class="card">
            <div id="module" class="w-100">
                <h3>{{ object.title }}</h3>
                <div class="collapse" id="collapseExample" aria-expanded="false">
                    <p class="h5"><span class="badge badge-secondary">Functor:</span> {{ object.functor }}
                        <span class="badge badge-secondary">status:</span> {{ object.status }}
                        <span class="badge badge-secondary">priority:</span> {{ object.priority }}
                        <span class="badge badge-secondary">task_type:</span> {{ object.task_type }}</p>
                    <p class="h5"><span class="badge badge-secondary">due_date:</span> {{ object.due_date }}
                        <span class="badge badge-secondary">created_on:</span> {{ object.created_on }}
                        <span class="badge badge-secondary">created_by:</span> {{ object.created_by }}
                        <span class="badge badge-secondary">is_active:</span> {{ object.is_active }}
                        <span class="badge badge-secondary">uuid:</span> {{ object.uuid }}
                        <span class="badge badge-secondary">last_transferred_on:</span> {{ object.last_transferred_on }}
                        <span class="badge badge-secondary">company:</span> {{ object.company }}</p>
                </div>
                <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                   aria-controls="collapseExample"></a>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <span class="h4">List of workflow</span>

                <div class="dropdown float-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export report
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'tasks:report' id=object.id file_type='xls' %}">
                            <i class="fa fa-file-excel-o"></i>
                            Excel</a>
                        <a class="dropdown-item" href="{% url 'tasks:report' id=object.id file_type='csv' %}">
                            <i class="fa fa-file-code-o"></i>
                            CSV</a>
                        <a class="dropdown-item" href="{% url 'tasks:report' id=object.id file_type='pdf' %}">
                            <i class="fa fa-file-pdf-o"></i>
                            PDF</a>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for item in task_flow_list %}
                    <li class="list-group-item">
                        <span class="h4">{{ forloop.counter }}. </span>
                        Created on: <span class="badge badge-secondary">{{ item.created_on }}</span>
                        Transferred by: <span class="badge badge-primary badge-pill">{{ item.transferred_by }}</span>
                        <p class="alert alert-secondary" role="alert">{{ item.description }}</p>
                    </li>
                {% endfor %}
            </ul>

            <div class="card-footer">

            </div>
        </div>
    {% endif %}
{% endblock %}
