{% extends 'tasks/index.html' %}
{% load to_dash %}

{% block page_title %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'tasks:list' %}">Tasks</a></li>
        <li class="breadcrumb-item active">Available tasks: <span class="alert-link">{{ tasks|length }}</span>
        </li>
    </ol>
{% endblock %}

{% block sub_content %}
    {% include "need/check_query.html" %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            {{ errors }}
        </div>
    {% endif %}
    <table class="table table-light">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Due date</th>
            <th scope="col">Created by</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for row in tasks %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'tasks:detail' id=row.id %}">{{ row.title }}</a></td>
                <td>{{ row.status }}</td>
                <td>{{ row.priority }}</td>
                <td>{{ row.due_date }}</td>
                <td>{{ row.created_by }}</td>
                <td style="width:  17%">
                    {% include "tasks/task_transfer.html" %}
                    {% include "tasks/task_edit.html" %}

                    <a href="{% url 'tasks:delete' id=row.id %}" class="btn btn-danger">
                        <ion-icon name="close" style="color: #fff"></ion-icon>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% include "tasks/pagination.html" with page=tasks %}
{% endblock %}