{% extends 'users/index.html' %}
{% load to_dash %}

{% block page_title %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'users:list' %}">Users</a></li>
        <li class="breadcrumb-item active">Available users: <span class="alert-link">{{ users|length }}</span>
        </li>
    </ol>
{% endblock %}

{% block sub_content %}
    {% if request.GET.updated is not None %}
        {% if request.GET.updated == 'true' %}
            <div class="alert alert-success" role="alert">User has been updated successfully.</div>
        {% elif request.GET.updated == 'false' %}
            <div class="alert alert-danger" role="alert">Error in updating user has been occured.</div>
        {% endif %}
    {% endif %}
    {% if request.GET.deleted is not None %}
        {% if request.GET.deleted == 'true' %}
            <div class="alert alert-success" role="alert">User has been removed successfully.</div>
        {% elif request.GET.deleted == 'false' %}
            <div class="alert alert-danger" role="alert">Error in removing user has been occured.</div>
        {% endif %}
    {% endif %}
    {% if error is not None %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    <table class="table table-light">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">last_login</th>
            <th scope="col">is_superuser</th>
            <th scope="col">is_active</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for row in users %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ row.username }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.last_login }}</td>
                <td>{{ row.is_superuser }}</td>
                <td>{{ row.is_active }}</td>
                <td style="width:  12%">
                    <a href="{% url 'users:profile' username=row.username %}" class="btn btn-info">
                        <ion-icon name="create"></ion-icon>
                    </a>
                    {% if not row.is_superuser %}
                        <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                            <ion-icon name="close"></ion-icon>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm delete user</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to delete this user?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'users:list' %}" class="btn btn-secondary" data-dismiss="modal">No
                                        </a>
                                        <a href="{% url 'users:delete' id=row.id %}" class="btn btn-primary">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if is_paginated %}
        <hr>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    {% if not search %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'users:list' %}?page={{ page_obj.previous_page_number }}"
                               tabindex="-1">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'users:list' %}?{{ search }}&page={{ page_obj.previous_page_number }}"
                               tabindex="-1">Previous</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% for object in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link"
                                             href="{% url 'users:list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    {% if not search %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'users:list' %}?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'users:list' %}?{{ search }}&page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}