{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <ion-icon name="options"></ion-icon>
                        Filter
                    </h5>
                    <div class="card-text">
                        <form action="{% url 'invoices:search' %}" method="get" class="post-form" value="{{ request.GET.q }}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Key</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="form_group_search_input"
                                               name="form_group_search_input"
                                               placeholder="Enter your keyword">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Status</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="form_group_status_input"
                                                name="form_group_status_input">
                                            <option value=""></option>
                                            {% for key, value in INVOICE_STATUS %}
                                                <option value="{{ key }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'invoices:new' %}" class="card-link">
                                    <ion-icon name="add-circle"></ion-icon>
                                    Add New Invoices
                                </a>
                            </li>
                            <li class="list-group-item"><a href="{% url 'invoices:list' %}" class="card-link">
                                <ion-icon name="eye"></ion-icon>
                                Show all invoices(<b>{{ invoices|length }}</b>)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                {% block sub_content %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}